[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pip = "*"
install = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
null = "*"
self = "*"
pillow = "*"
blank = "*"
ondelete = "*"
psycopg2-binary = "*"
body = "*"
many = "*"
django-filter = "*"
django-countries = "*"
django-smart-selects = "*"
django-cities = "*"
password = "*"
drf-yasg = "*"
djoser = "*"
address = "*"
drf-nested-routers = "*"

[dev-packages]
coverage = "*"
django-extensions = "*"
ipython = "*"

[requires]
python_version = "3.10"
